{% extends "FOSUserBundle::layout.html.twig" %}
{% block pagetitle %}Contacts{% endblock %}
{% block arianne %}Contacts{% endblock %}
{% block body %}

    <!--breadcrumbs end-->


<div class="container">


     <div class="row">
        <div class="col-lg-5 col-sm-5 address">
                                <img src="{{asset('img/ipadwhite.PNG')}}" alt="">

         
        
        </div>
                                <br><br><br>
        <div class="col-lg-7 col-sm-7 address">
          <h4>
            your Email has been successfully sent

          </h4>
        </div>
      </div>
</div>
    
      </div>

    </div>
{% endblock %}
