{% extends "FOSUserBundle::layout.html.twig" %}
{% block body %}

<center>
    <h1>Add Quizz </h1>
<div class="bs-example">
<form method= "post">
    {{form_widget(form)}}
   

<input class="btn btn-lg btn-login btn-block"  type="submit" value="Add Questions !" >
    
</form>
</center>
</div>

{% endblock %}