{% extends "FOSUserBundle::layout.html.twig" %}
{% block body %}
    <h1>Update question</h1>

    <form method= "post">
        {{form_widget(form)}}


        <input class="btn btn-lg btn-login btn-block" type="submit" value="Update Question !" >

    </form>
    
    
{% endblock %}